@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Sigmar+One&display=swap');
/*HTML , BODY : Structrure Base*/
html,body{
    margin:0px;
    width:100%;
    height:100%;
    overflow:hidden;
}

body {
    background-color: #03a9f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

body *.hidden{
    opacity:0%;
    z-index:-1;
    position: absolute;
    transition: 0.25s;
}
/*Régulateur de la taille d'image*/
.img{
    size: 100%;
}
/*Polices*/
.launcher-font{
    font-family:"Sigmar One", cursive;
    font-size:65px;
    color:white;
}
/*Test*/
.ER{
    color:black;
}

/*ID Title*/
#title {
    cursor: pointer;
}

#title:hover{
    color:red;
    transform:scale(1.25);
    transition: 1s;
}

/*Dracaufeu*/
#Dracaufeu:hover{
    transform:scale(0.75);
    transition:1s;
}

/*Pikachu*/
#Pikachu:hover{
    transform:scale(0.75);
    transition:1s
}

/*Florizarre*/
#Florizarre:hover{
    transform:scale(0.75);
    transition:1s
}